<p id="notice"><%= notice %></p>

<p>
  <strong>Commenttext:</strong>
  <%= @comment.commenttext %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Blogpost:</strong>
  <%= @comment.blogpost_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @comment.integer %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
